<!DOCTYPE html>

<head>
    <title>{{ title }}</title>

    <script type="text/javascript" src="/static/scryptsy.js"></script>
    <script type="text/javascript" src="/static/base64-js/base64js.min.js"></script>
    <script type="text/javascript" src="/static/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/static/semantic.min.js"></script>
    <script type="text/javascript" src="/static/components/dropdown.js"></script>
    <script type="text/javascript" src="/static/main.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/static/main.css">
</head>