<!DOCTYPE html>

<head>
    <title>{{ title }}</title>
    
    <script type="text/javascript" src="static/scryptsy.js"></script>
    <script type="text/javascript" src="static/base64-js/base64js.min.js"></script>
    <script type="text/javascript" src="static/jquery-3.4.1.min.js"></script>
    <script type="text/javascript"src="static/semantic.min.js"></script>
    <script type="text/javascript" src="static/components/dropdown.js"></script>
    <script type="text/javascript" src="static/main.js"></script>

    <link rel="stylesheet" type="text/css" href="static/semantic.min.css">
</head>

<body>
    {% csrf_token %}
    
    <div class="ui one column centered aligned page grid">
        <div class="column nine wide">
          <input type="file" name="fileToUpload" id="fileToUpload">
          <div class="ui form" id="form">
            <div class="field" id="passwordField">
                <label>Password</label>
                <input placeholder="Encryption Password" type="password" name="password" id="passwordInputField" onchange="checkPassword()" onkeypress="this.onchange();" onpaste="this.onchange();" oninput="this.onchange();">
            </div>
            <div class="field">
                <label>Expiration Time</label>
                <div class="ui selection dropdown">
                    <input type="hidden" name="expirationTime" id="expirationTime">
                    <i class="dropdown icon"></i>
                    <div class="default text">Never</div>
                    <div class="menu">
                        <div class="item" data-value="0">12 Hours</div>
                        <div class="item" data-value="1">24 Hours</div>
                        <div class="item" data-value="2">1 Week</div>
                        <div class="item" data-value="3">1 Month</div>
                        <div class="item" data-value="4">1 Year</div>
                        <div class="item" data-value="5">Never</div>
                    </div>
                </div>
            </div>
            <button class="ui button" type="button" name="uploadButton" onclick="handleUpload()">Upload</button>
          </div>
        </div>
    </div>
</body>

</html>