<!DOCTYPE html>

<head>
    <title>{{ title }}</title>
    
    <script type="text/javascript" src="static/scryptsy.js"></script>
    <script type="text/javascript" src="static/base64-js/base64js.min.js"></script>
    <script type="text/javascript" src="static/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="static/main.js"></script>
</head>

<body>
    {% csrf_token %}
    <input type="file" name="fileToUpload" id="fileToUpload">
    <input type="button" name="uploadButton" onclick="handleUpload()" value="Upload">
    <input type="text" name="password" id="passwordField">
</body>

</html>